<form>
  <div class="form-group">
    <div id="advice">
      <h2>Think</h2>

      <p>
        In the heat of the moment, any given e-mailer might feel compelled to write a message that's full of passion in some way, shape, or form. This effort might be chock-full of honesty, authenticity, and the deepest of emotion. However, know that once the "Send" button is pushed, that message will sail into the digital vortex, where it will mill about forevermore (or at least until the next transformative society-wide development is born). Also note that the receiver of a message might not garner the sender's intended meaning, as electronic mail is not a medium conducive to easily conveying tone.
      </p>

      <div class="row">
        <center>&#9997;...&#9729;...&#9993;</center>
      </div>

      <div class="row">
        <center>write...think...send</center>
      </div>

    </div>
  </div>
</form>
