<div class="container">
  <div id="navbar">
    <nav class="navbar navbar-inverse" role="navigation">
      <h1>E-mail Client</h1>

      <ul class="nav navbar-nav">
        <li>{{#link-to 'home'}}Home{{/link-to}}</li>
        <li>{{#link-to 'users'}}Users{{/link-to}}</li>
        <li>{{#link-to 'advice'}}Advice{{/link-to}}</li>
        <li>{{#link-to 'send-message'}}Send Message{{/link-to}}</li>
      </ul>

    </nav>
  </div>

  {{outlet}}

</div>
