<div class="container">
  <div id="navbar">
    <nav class="navbar navbar-inverse" role="navigation">
      <h1>E-mail Client</h1>

      <ul class="nav navbar-nav">
        <li>{{#link-to 'home'}}Home{{/link-to}}</li>
        <li>{{#link-to 'home'}}Users{{/link-to}}</li>
        <li>{{#link-to 'home'}}{{/link-to}}</li>
        <li>{{#link-to 'home'}}Send Message{{/link-to}}</li>
      </ul>

    </nav>
  </div>

  {{outlet}}

</div>
