<div class="row">
  <div class="col-md-12">
    <h2><strong>Message Center</strong></h2>
    <h4>View Messages &#10037; Send Messages</h4>
    <hr noshade/>
    <br />
      {{#link-to 'new-user'}}<center><p>&#9993; Become a User</p><img id="full-view" src="../img/become_a_user.png" alt="E-mailer" /></center>{{/link-to}}
  </div>
</div>
