<h2>List of Users</h2>

<form>
  <div class="form-group">

    <ul>
      {{#each user in model}}
        <li>{{#link-to 'user' user}}{{user.name}}{{/link-to}}</li>
      {{/each}}
    </ul>

    {{#link-to 'new-user' className="btn btn-default"}}New User{{/link-to}}

  </div>
</form>
